<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>广州网上共青团</title>
    <link rel="stylesheet" href="css/common/idangerous.swiper.css">
    <link rel="stylesheet" href="css/common/common.css">
    <link rel="stylesheet" href="css/common/jquery.sPage.red.css">
    <link rel="stylesheet" href="css/index.css">
    <script src="js/common/jquery-1.8.3.js"></script>
    <script src="js/common/common.js"></script>
    <script src="js/common/jsrender.min.js"></script>
    <script src="js/common/jquery.sPage.js"></script>
    <script src="js/volunteer.js"></script>
</head>
<body>
    <div id="header">
        <div class="top">
            <div class="top-wrapper">
                <div class="logo">
                    <a href="index.html"><img src="images/common/logo.jpg" alt=""></a>
                </div>
                <div class="r-linkbox">
                    <ul>
                        <li><a href="javascript:;"><img src="images/common/wechat.jpg" alt=""></a></li>
                        <li><a target="_blank" href="https://s.weibo.com/weibo/%25E5%25B9%25BF%25E5%25B7%259E%25E5%2585%25B1%25E9%259D%2592%25E5%259B%25A2?topnav=1&wvr=6&b=1"><img src="images/common/sina.jpg" alt=""></a></li>
                        <li><a href="personal.html"><img src="images/common/user.jpg" alt=""></a></li>
                    </ul>
                    <img class="wechat_code" src="images/common/wechat_code.png" alt="">
                </div>
                <div style="clear:both"></div>
            </div>
        </div>
        <div class="nav">
            <div class="nav-wrapper">
                <div class="nav-list">
                    <ul>
                        <li><a href="index.html">首页</a></li>
                        <li class="active"><a href="volunteer.html">志愿时</a></li>
                        <li><a href="youth.html">青创汇</a></li>
                        <li><a href="activity.html">U友缘</a></li>
                        <li><a target="_blank" href="gzqn/index.html">广州青年</a></li>
                        <li><a target="_blank" href="http://www.gdcyl.org/Index.html">团务系统</a></li>
                        <li><a href="forum.html">论坛</a></li>
                    </ul>
                </div>
                <div class="search">
                    <input type="text" placeholder="输入需要查找的信息">
                    <a href="javascript:;"><img src="images/common/search.png" alt=""></a>
                </div>
            </div>
        </div>
    </div>
    <div class="volunteer-main">
        <div class="wrapper">
            <div class="title">
                <a href="javascript:;">志愿者活动</a>
            </div>
            <div class="search-box">
                <div class="filter-condition">
                    <div class="column column1">
                        <strong>性质</strong>
                        <a class="active" data-val="" href="javascript:;">推荐</a>
                        <a data-val="" href="javascript:;">全部</a>
                        <a data-val="普通活动" href="javascript:;">普通活动</a>
                        <a data-val="志愿时活动" href="javascript:;">志愿时活动</a>
                        <a data-val="线上活动" href="javascript:;">线上活动</a>
                    </div>
                    <div class="column column2">
                        <strong>类型</strong>
                        <a data-val="" class="active" href="javascript:;">全部</a>
                        <a data-val="生态环保" href="javascript:;">生态环保</a>
                        <a data-val="动物保护" href="javascript:;">动物保护</a>
                        <a data-val="儿童关怀" href="javascript:;">儿童关怀</a>
                        <a data-val="文化/艺术" href="javascript:;">文化/艺术</a>
                        <a data-val="支教助学" href="javascript:;">支教助学</a>
                        <a data-val="扶老助残" href="javascript:;">扶老助残</a>
                        <a data-val="综合/其它" href="javascript:;">综合/其它</a>
                    </div>
                    <div class="select-filter">
                        <div class="selects">
                            <select name="" id="">
                                <option value="0">不限状态</option>
                                <option value="1">招募中</option>
                                <option value="2">进行中</option>
                                <option value="3">已结束</option>
                            </select>
                        </div>
                        <div class="selects">
                            <select name="" id="">
                                <option value="0">不限时间</option>
                                <option value="1">今天</option>
                                <option value="2">明天</option>
                                <option value="3">最近一周</option>
                                <option value="4">一个月</option>
                            </select>
                        </div>
                        <div class="selects">
                            <select name="" id="">
                                <option value="1">不限地区</option>
                                <option value="汕头市">汕头市</option>
                                <option value="中山市">中山市</option>
                                <option value="佛山市">佛山市</option>
                                <option value="云浮市">云浮市</option>
                                <option value="肇庆市">肇庆市</option>
                                <option value="潮州市">潮州市</option>
                                <option value="汕尾市">汕尾市</option>
                                <option value="韶关市">韶关市</option>
                                <option value="阳江市">阳江市</option>
                                <option value="茂名市">茂名市</option>
                                <option value="河源市">河源市</option>
                                <option value="揭阳市">揭阳市</option>
                                <option value="湛江市">湛江市</option>
                                <option value="梅州市">梅州市</option>
                                <option value="江门市">江门市</option>
                                <option value="清远市">清远市</option>
                                <option value="深圳市">深圳市</option>
                                <option value="东莞市">东莞市</option>
                                <option value="珠海市">珠海市</option>
                                <option value="广州市">广州市</option>
                                <option value="惠州市">惠州市</option>
                            </select>
                        </div>
                        <div class="search">
                            <input type="text" placeholder="请输入关键字" />
                            <a href="javascript:;"></a>
                        </div>
                    </div>
                </div>
                <div id="nodata"><img src="images/common/nodata.png" alt=""></div>
                <div class="volunteer-pro">
                        <!-- <li>
                            <a href="#">
                                <div>
                                    <img src="images/volunteer/column1-main1.jpg" alt="">
                                </div>
                                <h3>凯粤湾阅读会第20期</h3>
                                <p>报名剩余时间：<strong>6</strong>天</p>
                                <p>当前报名人数：<strong>5</strong>天</p>
                            </a>
                        </li> -->
                    
                </div>
                <div id="myPage" class="page"></div>
            </div>
        </div>
    </div> 
    <div id="footer">
        <div class="copyright">
            <p>版权所有：共青团广州市委员会网站备案号：粤ICP备11043362号-2</p>
            <p>地址:广州市人民北路875号4-5楼   邮编:510170  E-mail:1234556@163.com</p>
        </div>
    </div>
    <script type="text/x-jsrender" id="zyzhdList">
        <ul>
            {{for list}}
            {{if (#getIndex()+1)%4==0}}
            <li style="margin-right:0px;">
            {{else}}
            <li>
            {{/if}}
                <a href="{{:lj}}">
                    <div>
                        {{if #data.tp}}
                        <img src="{{:#data.tp}}" alt="">
                        {{else}}
                        <img src="images/common/noPic.jpg" alt="">
                        {{/if}}
                    </div>
                    <h3>{{:bt}}</h3>
                    <p>报名剩余时间：<strong>{{:syts}}</strong>天</p>
                    <p>当前报名人数：<strong>{{:bmrs}}</strong>人</p>
                </a>
            </li>
            {{/for}}
        </ul>
    </script>
</body>
</html>