.form-page input {
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 600px;
  padding: 14px 10px;
  height: 22px;
  font-size: 16px;
  line-height: 22px;
}
.form-page textarea {
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: "微软雅黑";
  padding: 10px;
}
.form-page .title {
  color: #F65469;
  font-size: 24px;
  text-align: center;
  display: block;
  line-height: 2;
  height: 48px;
  margin-bottom: 20px;
}
.form-page label {
  font-size: 16px;
  padding: 14px 0;
  text-align: right;
  color: #333;
  width: 110px;
  float: left;
  height: 22px;
  line-height: 22px;
}
.form-page .button {
  background: #F65469;
  color: #fff;
  height: 40px;
  line-height: 40px;
  font-weight: normal;
  text-align: center;
  border: none;
  font-size: 19px;
  border-radius: 4px;
  cursor: pointer;
  min-width: 5em;
}
.form-page .button:disabled {
  opacity: 0.5;
}
.form-page .tip {
  height: 46px;
  text-align: right;
  font-size: 14px;
  line-height: 2;
}
.form-page .red {
  color: #F65469;
}
